<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>
  <% @ideas.each do |idea| %>
    <article>
      <h2><%= idea.name %></h2>
      <section><%= idea.description %></section>
      <div class="text-right">
      <%= link_to 'Show', idea, { :class=>"btn btn-primary" } %>
        <%= link_to 'Edit', edit_idea_path(idea), { :class=>"btn btn-primary" } %>
        <%= link_to 'Destroy', idea, :class=>"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </article>

  <% end %>


<br>

<%= link_to 'New Idea', new_idea_path, { :class=>"btn btn-primary" } %>
