<p id="notice"><%= notice %></p>

<h1>Developers storytelling</h1>
<hr/>
  <% @ideas.each do |idea| %>
    <article>
      <%= link_to idea.name, idea, { :class=>"h2" } %>
      
      <section><%= idea.description %></section>

      <div class="text-right">

      <div class="btn btn-default">
        <%= link_to 'Edit', edit_idea_path(idea), {  :class=>"fa fa-pencil-square-o fa-lg" } %>
      </div>

      <div class="btn btn-default">
        <%= link_to 'Delete', idea, :class=>"fa fa-trash-o fa-lg",method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      
      </div>
    </article>
    <hr/>

  <% end %>


<br>

<%= link_to 'Add article', new_idea_path, { :class=>"btn btn-default" } %>
