<div class="viewcontainer">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @idea.description %>

</p>

<%= link_to 'Edit', edit_idea_path(@idea), :class=>"btn btn-default" %> 
<%= link_to 'Back', ideas_path, :class=>"btn btn-default"  %>
</div>